<a href="https://colab.research.google.com/github/manjotmb20/tweet-analysis/blob/master/tweet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import re
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
import string
import nltk
import pandas as pd
from bs4 import BeautifulSoup
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder

In [0]:
df=pd.read_csv("tweets.csv")

In [139]:
df.dtypes

Unnamed: 0                      object
tweet_text                      object
creation_time                   object
num_hashtags                   float64
num_symbols                    float64
num_user_mentions              float64
num_urls                       float64
retweet_count                  float64
favorite_count                  object
source                          object
lang                            object
source_user_followers_count    float64
source_user_friends_count      float64
source_user_statuses_count      object
source_user_geo_enabled         object
source_user_verified            object
label                           object
dtype: object

In [0]:
def remove_pattern(input_text,pattern):
  r=re.findall(pattern,input_text)
  for i in r:
    input_text=re.sub(i, '',input_text)
  return input_text

In [0]:
clean_tweet=[]
for row in df["tweet_text"]:
  clean_tweet.append(np.vectorize(remove_pattern)(row,"@[\w]*"))

In [0]:
df["clean_tweet"]=clean_tweet

In [143]:
!pip install tweet-preprocessor

Requirement already satisfied: tweet-preprocessor in /usr/local/lib/python3.6/dist-packages (0.5.0)

In [0]:
import preprocessor as p

In [0]:
c=type(None)
index=0
def urlpresent(input_text):
  t_parse=p.parse(input_text)
  if type(t_parse.urls) is not c:
    index=1
  else:
    index=0
  return index

In [0]:
test=df["clean_tweet"][0]

In [147]:
type(test)

numpy.ndarray

In [0]:
tlist=[]
for row in df["tweet_text"]:
  tlist.append(urlpresent(row))
df["url_present"] =tlist

In [0]:
df.drop('creation_time',axis=1,inplace=True)

In [150]:
df.head()

  Unnamed: 0  ... url_present
0          0  ...           0
1          1  ...           0
2          2  ...           1
3          3  ...           1
4          4  ...           0

[5 rows x 18 columns]

In [151]:
y="Sneak Attack on Skybas #Fortnite #GameofGame"

t=p.parse(y)
type(t.emojis)

NoneType

In [0]:
c=type(None)
index=0
def emojipresent(input_text):
  t_parse=p.parse(input_text)
  if type(t_parse.emojis) is not c:
    index=1
  else:
    index=0
  return index

In [0]:
tlist=[]
for row in df["tweet_text"]:
  tlist.append(emojipresent(row))
df["emoji_present"] =tlist

In [154]:
df.head()

  Unnamed: 0  ... emoji_present
0          0  ...             0
1          1  ...             0
2          2  ...             1
3          3  ...             0
4          4  ...             0

[5 rows x 19 columns]

In [0]:
def remove_pattern(input_txt, pattern):
    r = re.findall(pattern, input_txt)
    for i in r:
        input_txt = re.sub(i, '', input_txt)
        
    return input_txt

In [0]:
plist=[]
for row in df["tweet_text"]:
  plist.append(remove_pattern(row,"@[\w]*"))
df["clean_text"]=plist

In [157]:
df.head()

  Unnamed: 0  ...                                         clean_text
0          0  ...  URL schemes that Sileo supports, so you can be...
1          1  ...  RT : Never compare your life to others. You ha...
2          2  ...  Sneak Attack on SkybaseðŸ‘€ðŸ¤– #Fortnite #GameofGam...
3          3  ...  #Meeseva Apply, Online, Centers, Services, App...
4          4  ...  RT : Ceux qui n'Ã©taient prÃ©sents Ã  l'hommage n...

[5 rows x 20 columns]

In [0]:
df.drop("clean_tweet",axis=1,inplace=True)

In [0]:
df['clean_text']=df['clean_text'].str.replace("[^a-zA-Z#]", " ")

In [160]:
df.head()

  Unnamed: 0  ...                                         clean_text
0          0  ...  URL schemes that Sileo supports  so you can be...
1          1  ...  RT   Never compare your life to others  You ha...
2          2  ...  Sneak Attack on Skybase   #Fortnite #GameofGam...
3          3  ...  #Meeseva Apply  Online  Centers  Services  App...
4          4  ...  RT   Ceux qui n  taient pr sents   l hommage n...

[5 rows x 19 columns]

In [161]:
len(df[df.lang=='en'])

7352

In [162]:
df.lang.unique()

array(['en', 'fr', 'und', 'es', 'tl', 'vi', 'pt', 'ht', 'in', 'no', 'ko',
       'it', 'ru', 'ne', 'de', 'ta', 'sv', 'ar', 'tr', 'et', 'pl', 'eu',
       'ca', 'fa', 'hi', 'th', 'ja', 'nl', 'bn', nan, '307', 'bg', 'da',
       'iw', 'lt', 'ro', 'zh', 'lv', 'cs', 'sr', 'hu', 'uk', 'gu', 'ur',
       'mr', 'is', 'fi', 'sl', '2149'], dtype=object)

In [163]:
df.isnull().sum()

Unnamed: 0                     0
tweet_text                     0
num_hashtags                   2
num_symbols                    2
num_user_mentions              2
num_urls                       2
retweet_count                  2
favorite_count                 2
source                         2
lang                           2
source_user_followers_count    2
source_user_friends_count      2
source_user_statuses_count     2
source_user_geo_enabled        2
source_user_verified           2
label                          4
url_present                    0
emoji_present                  0
clean_text                     0
dtype: int64

In [0]:
df.dropna(inplace=True)

In [165]:
len(df)

9998

In [166]:
f=df[df.lang=='de'].label=='Collusive'
len(f)

67

In [167]:
count=0
for i in f:
  if i== True:
    count=count+1
print(count)

44

In [0]:
df=df.drop(307,axis=0)

In [169]:
df.head()

  Unnamed: 0  ...                                         clean_text
0          0  ...  URL schemes that Sileo supports  so you can be...
1          1  ...  RT   Never compare your life to others  You ha...
2          2  ...  Sneak Attack on Skybase   #Fortnite #GameofGam...
3          3  ...  #Meeseva Apply  Online  Centers  Services  App...
4          4  ...  RT   Ceux qui n  taient pr sents   l hommage n...

[5 rows x 19 columns]

In [170]:
df.columns

Index(['Unnamed: 0', 'tweet_text', 'num_hashtags', 'num_symbols',
       'num_user_mentions', 'num_urls', 'retweet_count', 'favorite_count',
       'source', 'lang', 'source_user_followers_count',
       'source_user_friends_count', 'source_user_statuses_count',
       'source_user_geo_enabled', 'source_user_verified', 'label',
       'url_present', 'emoji_present', 'clean_text'],
      dtype='object')

In [0]:
df.drop(['Unnamed: 0','tweet_text','clean_text'],axis=1,inplace=True)

In [172]:
df.head()

   num_hashtags  num_symbols  ...  url_present  emoji_present
0           0.0          0.0  ...            0              0
1           0.0          0.0  ...            0              0
2           3.0          0.0  ...            1              1
3           1.0          0.0  ...            1              0
4           0.0          0.0  ...            0              0

[5 rows x 16 columns]

In [173]:
len(df)

9997

In [0]:
source_list=[]
for row in df.source:
  source_list.append(BeautifulSoup(row).string)
df['source_new']=source_list

In [175]:
len(df.source_new.unique())

258

In [0]:
df.drop(['source','source_new'],axis=1,inplace=True)

In [189]:
df.describe()

       num_hashtags  num_symbols  ...  url_present  emoji_present
count   9997.000000  9997.000000  ...  9997.000000    9997.000000
mean       1.095129     0.002801  ...     0.663799       0.153646
std        2.528955     0.081208  ...     0.472432       0.360627
min        0.000000     0.000000  ...     0.000000       0.000000
25%        0.000000     0.000000  ...     0.000000       0.000000
50%        0.000000     0.000000  ...     1.000000       0.000000
75%        1.000000     0.000000  ...     1.000000       0.000000
max       30.000000     4.000000  ...     1.000000       1.000000

[8 rows x 9 columns]

In [0]:
sc=StandardScaler()
df[['source_user_followers_count']]=sc.fit_transform(df[['source_user_followers_count']])
sc1=StandardScaler()
df[['source_user_friends_count']]=sc1.fit_transform(df[['source_user_friends_count']])
sc2=StandardScaler()
df[['retweet_count']]=sc2.fit_transform(df[['retweet_count']])
sc3=StandardScaler()
df[['favorite_count']]=sc.fit_transform(df[['favorite_count']])
sc4=StandardScaler()
df[['num_hashtags']]=sc4.fit_transform(df[['num_hashtags']])
sc5=StandardScaler()
df[['num_user_mentions']]=sc.fit_transform(df[['num_user_mentions']])
sc=StandardScaler()
df[['source_user_statuses_count']]=sc.fit_transform(df[['source_user_statuses_count']])

In [201]:
df.tail()

       num_hashtags  num_symbols  ...  url_present  emoji_present
9997      -0.433058          0.0  ...            1              0
9998      -0.433058          0.0  ...            1              0
9999       5.893984          0.0  ...            1              0
10000     -0.433058          0.0  ...            1              0
10001     -0.433058          0.0  ...            1              0

[5 rows x 15 columns]

In [196]:
len(df.lang.unique())

46

In [0]:
lc=LabelEncoder()
df['lang']=lc.fit_transform(df['lang'])

In [0]:
lc1=LabelEncoder()
df['source_user_geo_enabled']=lc1.fit_transform(df['source_user_geo_enabled'])
lc2=LabelEncoder()
df['source_user_verified']=lc2.fit_transform(df['source_user_verified'])
lc3=LabelEncoder()
df['source_user_geo_enabled']=lc3.fit_transform(df['source_user_geo_enabled'])

In [0]:
df.drop('num_symbols',axis=1,inplace=True)

In [0]:
y=df['label']

In [205]:
len(y)

9997

In [0]:
df.drop('label',axis=1,inplace=True)

In [0]:
df.drop('num_urls',axis=1,inplace=True)

In [0]:
import xgboost as xgb

In [0]:
from sklearn.model_selection import train_test_split
x_train,x_val,y_train,y_val=train_test_split(df,y,test_size=0.2,random_state=9)

In [214]:
clf3=xgb.XGBClassifier(learning_rate=0.1,n_estimators=200,max_depth=5,min_child_weight=5,gamma=0,subsample=0.8,colsample_bytree=0.8,reg_alpha=0.005,objective='binary:logistic',n_thread=4,scale_pos_weight=1)
clf3.fit(x_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.8, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=5,
              min_child_weight=5, missing=None, n_estimators=200, n_jobs=1,
              n_thread=4, nthread=None, objective='binary:logistic',
              random_state=0, reg_alpha=0.005, reg_lambda=1, scale_pos_weight=1,
              seed=None, silent=None, subsample=0.8, verbosity=1)

In [0]:
y_pred=clf3.predict(x_train)

In [0]:
from sklearn.metrics import accuracy_score

In [226]:
accuracy_score(y_train,y_pred)

0.958109290984119

KeyError: ignored